<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
            <rewrite>
                <rules>
                    <!-- https://weblogs.asp.net/owscott/url-rewrite-protocol-http-https-in-the-action -->
                    <rule name="Create HTTP_PROTOCOL">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{CACHE_URL}" pattern="^(.+)://" />
                        </conditions>
                        <serverVariables>
                            <!-- Add this to allowed server variables in URL rewrite: https://weblogs.asp.net/owscott/500-50-error-using-url-rewrite -->
                            <set name="HTTP_PROTOCOL" value="{C:1}" />
                        </serverVariables>
                        <action type="None" />
                    </rule>
                        <!--# Only proxy the request to Prerender if it's a request for HTML-->
                    <rule name="Prerender" stopProcessing="true">
                        <match url="^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.off|\.woff|\.woff2|\.svg))(.*)" ignoreCase="false" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{HTTP_USER_AGENT}" pattern="baiduspider|facebookexternalhit|twitterbot|googlebot" />
                        </conditions>
                        <action type="Rewrite" url="http://localhost:4000/{HTTP_PROTOCOL}://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                    </rule>
                    <rule name="Angular Routes" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_URI}" pattern="\/api" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="/" />
                    </rule>
                </rules>
            </rewrite>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>>
    </system.webServer>
</configuration>